h1 {
    text-align: center;
    color: green;
    font-size: 36px;
}

.logo {
    width: 37%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

body {
    background-color: black ;
}

p {
    color: white;
    text-align: center;
    font-size: 24px;
}


.bee-movie {
    font-size: smaller;
    color: green;
}

.raytheon-technologies {
    width: 20%;
display: block;
    margin-bottom: auto;

}
h3 {
    color: white;
}